div.content
	position: absolute

	top: $headerHeightSize
	left: 0
	bottom: 0
	width: 100%

	&.is-centre, &.is-center
		@media only screen and (min-width: $mobileBreakpoint)
			display: flex
			align-items: center
			justify-content: center

	&.no-header
		top: 0
