div.header
    position: fixed
    display: flex

    top: 0
    left: 0
    width: 100%
    height: 32px

    padding: 16px

    background-color: $primary

    border-bottom: $primaryBorder

    z-index: 9997

    @media screen and (prefers-color-scheme: dark)
        background-color: $secondary
        border-bottom: $secondaryBorder

    div.left, div.right
        position: fixed

    div.left
        left: $headerPadding

    div.right
        right: $headerPadding

        div.menu
            right: $headerPadding

    img.logo
        position: absolute

        width: 39px

    img.profile-image
        width: 32px
        height: 32px

        cursor: pointer

        border-radius: 50%
