div.menu-wrapper
    div.menu
        position: fixed

        top: 0

        width: 150px
        height: 200px

        overflow-x: hidden
        overflow-y: auto

        border-radius: $borderRadius / 2

        background-color: $primary
        box-shadow: $primaryOutline

        opacity: 0
        pointer-events: none

        @media screen and (prefers-color-scheme: dark)
            background-color: $secondary
            box-shadow: $secondaryOutline

    div.menu-cover
        position: fixed

        top: 0
        left: 0
        width: 100%
        height: 100%

        opacity: 0
        pointer-events: none

        transition: opacity $softTransition

        z-index: -1

    &.visible
        div.menu
            top: 60px

            opacity: 1
            pointer-events: all
        
        div.menu-cover
            background-color: rgba(0, 0, 0, 0.75)

            opacity: 1
            pointer-events: all
